<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SDCCN | Simulation Dashboard</title>
    <!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="http://code.highcharts.com/modules/drilldown.js"></script>
    <!-- <script src="assets/js/themes/dark-unica.js"></script> -->
    <script src="assets/js/simple_statistics.js"></script>
</head>

<body ng-app="" ng-controller="statisticsController">
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">SDCCN</a>
        </div>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a class="active-menu" href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">


            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        SDCCN <small>Simulation Dashboard</small>
                    </h1>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4>Choose a Simulation Session </h4>
                    <div class="btn-group" style="margin: 10px;">
                        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"> {{ activeSession ? activeSession : '-' }} <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="s in sessions">
                                <a ng-click="loadSession(s)">{{ s }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="!activeSession">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Simulation Overview
                            <button type="button" class="btn btn-default btn-circle right" data-toggle="modal" data-target="#simInfo" style="width: 30px; height: 30px;">
                                <i class="fa fa-info"></i>
                            </button>
                            <div class="modal fade" id="simInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" style="width: 80%;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Simulation Details</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Session #</th>
                                                        <th>Topology</th>
                                                        <th>SDN-Cache DownloadRate</th>
                                                        <th>BW. Ass. Adj.</th>
                                                        <th>Zipf Distr. Alpha.</th>
                                                        <th>Description</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>{{ sessionInfo.sessionName }}</td>
                                                        <td>{{ sessionInfo.topology }}</td>
                                                        <td>{{ sessionInfo.sdnCacheDownloadRate }}</td>
                                                        <td>{{ sessionInfo.bwAssignmentAdj }}</td>
                                                        <td>{{ sessionInfo.zipfDistributionAlpha }}</td>
                                                        <td>{{ sessionInfo.description }}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <!--   Basic Table  -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Simulation Results
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Strategy</th>
                                                <th>N</th>
                                                <th>Avg. Sat. Rate [%]</th>
                                                <th>Std.Dev.(Sat. Rate) [%]</th>
                                                <th>Avg. RTT [ms]</th>
                                                <th>Std.Dev.(RTT)</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="name in strategies">
                                                <td> {{ name }}</td>
                                                <td>{{ nrOfSimulationRunsByType(name) }}</td>
                                                <td>{{ averageSatRateByType(name) }}</td>
                                                <td>{{ stdDevOfSatRateByType(name) }}</td>
                                                <td>{{ averageRTTByType(name) }}</td>
                                                <td>{{ stdDevOfRTTByType(name) }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- End  Basic Table  -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-hide="!activeSession">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Satisfaction Rate
                        </div>
                        <div class="panel-body">
                            <div id="satisfactionRateContainer" style="height: 400px; margin: auto; min-width: 100%; max-width: 100%"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            RTT
                        </div>
                        <div class="panel-body">
                            <div id="RTTContainer" style="height: 400px; margin: auto; min-width: 100%; max-width: 100%"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-hide="!activeSession">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Satisfaction Rate per Period
                        </div>
                        <div class="panel-body">
                            <div id="satisfactionRatePeriodContainer" style="height: 400px; margin: auto; min-width: 100%; max-width: 100%"></div>
                        </div>
                    </div>
                </div><div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            RTT per Period
                        </div>
                        <div class="panel-body">
                            <div id="RTTPeriodContainer" style="height: 400px; margin: auto; min-width: 100%; max-width: 100%"></div>
                        </div>
                    </div>
                </div>
            </div>

            <footer><p>All right reserved. Template by: <a href="http://webthemez.com">WebThemez</a></p></footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="assets/js/bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="assets/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="assets/js/morris/raphael-2.1.0.min.js"></script>

<script src="assets/js/statisticsController.js"></script>
</body>

</html>